@tailwind base;

@layer base {
  html {
    @apply text-horizon-100;
  }

  .earth-background-wrapper {
    background-image: url('/earth-from-space.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .earth-hiding-gradient {
    background-image: linear-gradient(
      to bottom,
      transparent 20%,
      rgba(28, 28, 28, 0.5) 50%,
      rgba(28, 28, 28, 0.75) 60%,
      rgba(28, 28, 28, 1) 90%
    );
  }

  .rocket-background-wrapper {
    background-image: url('/rocket.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
  }

  .rocket-hiding-gradient {
    background-image: linear-gradient(
      to top,
      transparent,
      rgba(28, 28, 28, 0.5) 15%,
      rgba(28, 28, 28, 0.75) 30%,
      rgba(28, 28, 28, 1) 45%
    );
  }

  /* For Firefox and other browsers that don't support -webkit-scrollbar */
  .scrollable {
    scrollbar-width: thin;
    scrollbar-color: rgb(88, 88, 88) rgb(62, 62, 62);
  }

  /* Unfortunately does not work in Firefox :( */
  .scrollable::-webkit-scrollbar {
    @apply w-3 bg-deepspace-400;
  }

  .scrollable::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-deepspace-300;
  }
}

@tailwind components;
@tailwind utilities;
